$white: #ffffff;
$landing-bg: #3f72af;
$yellow: #facb70;
$yellow-light: #ffba3b;
$green: #7fb77e;
$green-light: #c6ffab;
$black: #393e46;

$hover-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
$active-box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 12px;

$start-btn-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 1px solid red;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
